@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$purple: #3C1E59;

$primary: $purple;

$navbar-breakpoint: $tablet;

$footer-padding: 2rem 1.5rem 4rem;

// $widescreen-enabled: false;
// $fullhd-enabled: false;

@import "../node_modules/bulma/bulma.sass";

/* Footer at bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}