@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$purple: #3C1E59;

$primary: $purple;

$navbar-breakpoint: $tablet;

// $widescreen-enabled: false;
// $fullhd-enabled: false;

@import "../node_modules/bulma/bulma.sass";

/* Footer at bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}